<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de students</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/students}">Estudiantes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                th:href="@{/students/create}"
                class="btn btn-primary btn-sm mb3"
                >Agregar estudiante</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br />
    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card"
        >
          <h1 class="text-center">Edición de student</h1>
          <div class="card-body">
            <form
              th:action="@{/students/update/{studentId}(studentId=${student.studentId})}"
              th:object="${student}"
              method="POST"
            >
              <div class="form-group">
                <label>Nombre: </label>
                <input
                  type="text"
                  name="nombre"
                  th:field="*{firstName}"
                  class="form-control"
                  placeholder="Digite su nombre : "
                  required
                />
              </div>

              <div class="form-group">
                <label>Apellidos: </label>
                <input
                  type="text"
                  name="apellstudentIdo"
                  th:field="*{lastName}"
                  class="form-control"
                  placeholder="Digite su apellstudentIdo : "
                  required
                />
              </div>

              <div class="form-group">
                <label>Correo: </label>
                <input
                  type="email"
                  name="email"
                  th:field="*{email}"
                  class="form-control"
                  placeholder="Digite su email : "
                  required
                />
              </div>

              <div class="box-footer">
                <button class="btn btn-success">Actualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
